.mui-datatables-16c50h-MuiInputBase-root-MuiTablePagination-select {
  margin-bottom: 15px;
}

.MuiTablePagination-actions {
  margin-bottom: 18px;
}

.mui-datatables-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  position: relative;
}
